.card {
  background-color: #ffffff;
  border: 1px solid #99b2c6;
  border-radius: 15px;
  padding: 20px;
  margin: 20px;
  width: 280px;
  /* text-align: center; */
  width: 55%;
}

.card1 {
  background-color: #ffffff;
  border: 1px solid #99b2c6;
  border-radius: 15px;
  padding: 20px;
  margin: 20px;
  width: 330px;
  /* text-align: center; */
  height: 100%;
}

.content1 {
  color: #384455;
  line-height: 1.4;
}

.accounting-content {
  display: flex;
  height: 100%;
}

.fa-clock-four:before,
.fa-clock:before {
  content: "\f017";
  margin-right: 0.5em;
}

.heading {
  display: flex;
  justify-content: space-between;
  margin-left: 0;
}

.sub-heading {
  font-size: medium;
  color: hsl(206.79deg 28.28% 61.18%);
  margin-bottom: 0.8em;
}

.line {
  border: rgb(215, 215, 215) 1px solid;
}

.check-box {
  zoom: 1.5;
  color: lightgray;
  margin-right: 0.5em;
}

.date {
  font-weight: bold;
}

.circle-img {

  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #ccc;
}

.check1 {
  display: flex;
  align-items: center;
  margin-top: 0.4em;
}

.status {
  display: inline-block;
  padding: 8px 10px;
  border-radius: 10px;
  background-color: hsl(359.15deg 81.61% 82.94%);
  color: hsl(358.83deg 81.05% 62.75%);
  /* font-size: 10px; */
  margin-left: 2rem;
  font-size: small;
}

.status1 {
  display: inline-block;
  padding: 8px 10px;
  border-radius: 10px;
  background-color: lightgray;
  color: black;
  font-size: 10px;
  margin-left: 2rem;
  font-size: small;
}

.status2 {
  display: inline-block;
  padding: 8px 10px;
  border-radius: 10px;
  background-color: hsl(160.8deg 68.81% 78.63%);
  color: hsl(160.43deg 78.24% 46.86%);
  font-size: 10px;
  margin-left: 2rem;
  font-size: small;
}

.detail1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.details {
  display: flex;
  flex-direction: column;
  color: #99b2c6;
  font-weight: normal;
}

.startday {
  display: flex;
  justify-content: space-between;
  margin-top: 1em;
}

.check-para {
  margin-top: 1em;
}

.status111 {
  display: flex;
  justify-content: space-between;
  margin-top: 1.2em;
}

.status11 {
  display: inline-block;
  padding: 8px 10px;
  border-radius: 10px;
  background-color: lightgray;
  color: black;
  font-size: 12px;
  margin-top: -0.5em;
}

.month-event {
  color: black;
  font-weight: bold;
}

.attach {
  color: black;
  font-weight: bold;
}

.w3-light-grey {
  color: #000 !important;
  background-color: #f1f1f1 !important;

  border-radius: 50px;
  margin-top: 1em;
}

.w3-green {
  border-radius: 50px;
}

.w3-green,
.w3-hover-green:hover {
  color: #fff !important;
  background-color: hsl(160.43deg 78.24% 46) !important;
}

.attach-check {
  margin-top: 0.5em;
}

.attach-check1 {
  margin-left: 0.5em;

}

@media (min-width: 200px) and (max-width: 425px) {
  .accounting-content {
    display: flex;
    flex-wrap: wrap;
  }

  .card {
    width: auto;
  }

  .card1 {
    width: max-content;
  }
}

@media (min-width: 426px) and (max-width: 800px) {
  .accounting-content {
    display: flex;
    flex-wrap: wrap;
    width: auto;
  }

  .card {
    width: max-content;
  }

  .card1 {
    width: max-content;
  }
}