.card {
    background-color: #ffffff;
    border: 0.1px solid lightgrey;
    border-radius: 15px;
    padding: 20px;
    margin: 2px;
    margin-top: 25px;
    width: auto;
    text-align: center;
}

table {
    border-collapse: collapse;
    width: 100%;
}


th,
td {
    padding: 10px;
    text-align: left;
    font-weight: bold;
    font-family: "proxima-nova", sans-serif;
    font-size: small;
}

th {
    position: relative;
    width: auto;
    color: #809fb8;
}

.up-arrow {
    margin-bottom: 4px;
}

th:last-child {
    border-right: none;
}

.circle-img {
    display: flex;
    width: 50px;
    height: 50px;
    border-radius: 25%;
    background-color: #ccc;
}

.btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;
    background-color: #ffffff;
    border: 1px solid lightgray;
    color: black;
    border-radius: 17%;
    cursor: pointer;
    height: 35px;
    width: 5.5rem;
}

.votes {
    font-size: 0.8em;
    color: #809fb8;
}

.ellipsis {
    width: 2em;
    font-size: 1.5em;
    color: #809fb8;
    height: 1.5iem;
}

.btn:hover {
    background-color: #f1f4f9;
}


.header-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 3em;
    margin-bottom: 1em;
}

.button {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 25%;
    height: auto;
}

.customer {
    display: flex;
    align-items: center;
}

.name {
    margin-left: 5px;
    height: 4.3em;
}

.status {
    display: inline-block;
    padding: 5px 10px;
    border-radius: 7px;
    background-color: #9effc9;
    color: #00ff71;
    font-size: 14px;
    margin-top: 1.5em;
    margin-right: 1em;
}

.status1 {
    display: inline-block;
    padding: 5px 10px;
    border-radius: 7px;
    background-color: lightgray;
    color: #809fb8;
    font-size: 14px;
    margin-top: 1em;
    margin-right: 1em;
}

.status2 {
    display: inline-block;
    padding: 5px 10px;
    border-radius: 7px;
    background-color: gray;
    color: #809fb8;
    font-size: 14px;
    margin-top: 1em;
    margin-right: 1em;
}

.identifier {
    display: block;
    color: gray;
    margin-top: 0.5em;
}

.custom-checkbox {
    transform: scale(1.5);
}

.pagination {
    margin-top: 20px;
    text-align: center;
}

.pagination button {
    padding: 5px 10px;
    cursor: pointer;
    margin: 0 5px;
    background-color: white;
    color: black;
    width: auto;
    height: 3em;
    border: 1px solid gray;
    border-radius: 5px;
}

.pagination button:hover {
    background-color: #f1f4f9;
}

.pagination button.active {
    background-color: #3a36db;
    color: white;
}

.pagination .ellipsis {
    margin: 0 5px;
    display: inline-block;
    padding: 2px 10px;
    cursor: pointer;
    margin: 0 5px;
    background-color: #f1f4f9;
    color: black;
    width: auto;
    height: 1.5em;
    border: 1px solid gray;
    border-radius: 5px;
}

.mobile-view {
    display: none;
}

.price {
    color: #00ff71;
}

@media (max-width: 425px) {
    .card {
        width: calc(110% - 80px);
    }

    td {
        display: grid;
    }

    .table {
        display: none;
    }

    .mobile-view {
        display: block;
    }

    .one {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .btn {
        display: flex;
        justify-content: center;
    }

    .two {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .button {
        display: none;
    }

    .button1 {
        display: flex;
        justify-content: space-between;
    }

    .circle-image{
        width: 50px;
        height: 50px;
        border-radius: 25%;
        background-color: #ccc;
    
    }
}